<div>Hostname / IP</div>

<ng-container *ngIf="!serveCommandId">
    <label>
        <input 
            type="checkbox"
            [(ngModel)]="options.optionalFlags.host.isActive">
        <span>Add Hoatname </span>
        <input 
        *ngIf="options.optionalFlags.host.isActive"
        type="text" 
        [(ngModel)]="options.optionalFlags.host.value">
    </label>
    <label>
        <input
            type="checkbox"
            [(ngModel)]="options.optionalFlags.port.isActive">
        <span>Add Port </span>
        <input
            *ngIf="options.optionalFlags.port.isActive"
            type="text"
            [(ngModel)]="options.optionalFlags.port.value">
    </label>
    <label>
        <input type="checkbox" [(ngModel)]="options.optionalFlags.open.isActive">
        <span>Open</span>
    </label>
    <button
        (click)="startServing()"
        [disabled]="!isAllInputsValid()">
        Start Serving
    </button>
</ng-container>
<button
    *ngIf="serveCommandId"
    (click)="stopServing()"
    [disabled]="isStoppingServeCommand">
    Stop Serving
</button>
