<h1>Angular CLI to UI</h1>

<ng-container *ngIf="isAlive">
    <ng-container *ngIf="isReadyForWork">
        <app-new
            *ngIf="!isAngularProject"
            (sendCommand)="sendCommand($event)"
            (changeAngularProjectStatus)="checkAngularProject($event)"
            >
        </app-new>
        
        <ng-container *ngIf="isAngularProject">
            <app-serve (sendCommand)="sendServeCommand($event)"></app-serve>
            <app-generate (sendCommand)="sendCommand($event)"></app-generate>
            <button
                (click)="leaveProject()"
                [disabled]="!isProjectLeavable">
                Leave Project
            </button>
            <div *ngIf="!isProjectLeavable">Can not leave this project</div>
        </ng-container>
    </ng-container>

    <ng-container
        *ngIf="!isReadyForWork"
        class="blocker">
        Please wait while the server is loading
    </ng-container>
</ng-container>

<ng-container *ngIf="!isAlive">
    The server is offline, please run the server and restart the client
</ng-container>
