<h1>Angular CLI to UI</h1>

<ng-container *ngIf="isReadyForWork">
    <app-new
        *ngIf="!isAngularProject"
        (sendCommand)="sendCommand($event)"
        (sendProjectName)="chooseProject($event)"
        (changeAngularProjectStatus)="checkAngularProject($event)"
        [availableProjects]="availableProjects"
        >
    </app-new>
    
    <ng-container *ngIf="isAngularProject">
        <app-serve (sendCommand)="sendCommand($event)"></app-serve>
        <app-generate (sendCommand)="sendCommand($event)"></app-generate>
    </ng-container>
</ng-container>

<ng-container
    *ngIf="!isReadyForWork"
    class="blocker">
    Please wait while the server is loading
</ng-container>
