<h1>ngWiz</h1>

<h1> {{ currentWorkingDir }}</h1>

<app-popup-error></app-popup-error>

<ng-container *ngIf="isReadyForWork">
    <app-new
        *ngIf="!isAngularProject"
        (sendCommand)="sendNewCommand($event)"
        (sendProjectName)="chooseProject($event)"
        [availableProjects]="availableProjects"
        >
    </app-new>
    
    <ng-container *ngIf="isAngularProject">
        <app-serve
            (sendCommand)="sendServeCommand($event)"
            (serveStopper)="stopServing($event)"
            [isStoppingServeCommand]="isStoppingServeCommand"
            [isServing]="isServing">
        </app-serve>
        <app-generate (sendCommand)="sendCommand($event)"></app-generate>
        <button
            (click)="leaveProject()">
            Leave Project
        </button>
    </ng-container>
</ng-container>
<ng-container	
    *ngIf="!isReadyForWork"	
    class="blocker">	
    Please wait while the server is loading	
</ng-container>
